<div class="container sp">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Quản lý loại sách</h3>
        </div>
        <div class="panel-body">

            <div class="table-responsive">
                <table class="table" id="tableLoai">
                    <thead>
                        <tr>
                            <th>Mã Loại</th>
                            <th>Tên loại sách</th>
                         
                        </tr>
                    </thead>
                    <tbody>
                        {{#each theloai}}
                        <tr>
                            <td>{{idLoai}} </td>
                            <td>{{tenLoai}}</td>
                            <td>
                                <a class="btn" role="button" style="float: right;background-color: gold">
                                    Sửa
                                </a>
                            </td>
                            <td>
                                <a href="" class="btn" type="button" style="background-color: salmon" >
                                    Xóa
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <button class="btn btn-info" type="button">Thêm loại sách</button>
</div>
{{#section 'js'}}
<script src="/phantrang/jquery.min.js"></script>
<script src="/phantrang/bootstrap.min.js"></script>
<script src="/phantrang/jquery.dataTables.min.js"></script>
<script src="/phantrang/dataTables.bootstrap.min.js"></script>
<script src="/dist/js/adminlte.min.js"></script>

<script>
    $(function () {
        $('#tableLoai').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': true,
            'language': {
                "lengthMenu": "Hiển thị _MENU_ dòng",
                "info": "Đang hiển thị _START_ tới _END_ tổng số _TOTAL_ kết quả",
                "paginate": {
                    "first": "Trang đầu",
                    "last": "Trang cuối",
                    "next": "Tiếp",
                    "previous": "Trước"
                }
            }
        });
    });
    $(function () {
        //Date picker
        $('#datepicker').datepicker({
            autoclose: true
        });
    });
    //Initialize Select2 Elements
    $('.select2').select2();
</script> {{/section}}

